{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}

<h1> My App </h1>

<nav>
  <ul>
    <li> {{#link-to 'nuevo-evento'}} Crear evento {{/link-to}} </li>
  </ul>
</nav>

{{!-- {{#if logged}} --}}
  <button class="btn btn-primary btn-round" {{action 'signOut'}}> Cerrar Sesion</button>
{{!--  {{/if}} --}}

<div id="main">
  {{outlet}}
</div>
