<!-- <p> Detalles del evento </p> -->

<h4> {{model.nombre}} </h4>

{{form-evento evento=model didSave=(action 'veAlaLista')}}

<button class="btn btn-primary btn-round" {{action 'borrar' '¿Deseas borrar?' 143 model}}> Borrar </button>

<!-- <a href = "www.google.com" {{action 'borrar'}}> go to google </a> -->
