<!-- <p> Detalles del evento </p> -->

<h4> {{model.nombre}} </h4>

{{form-evento evento=model}}

<button {{action 'borrar' '¿Deseas borrar?' 143 model}}> Borrar </button>

<!-- <a href = "www.google.com" {{action 'borrar'}}> go to google </a> -->
